html {
    background-image: url("https://i.imgur.com/UHapOoQ.jpg");
    background-size: 1500px 880px;
    background-repeat: no-repeat;
}

body{
   width:  60%;
   height:  60%;
   margin-top: 60px;

}



.search-bar {
    margin: 20px;
    text-align: center
}

.search-bar input {
    width: 75%;
}

.video-item img{
    max-width: 64px;
}

/* .video-detail .details {
    margin-top:10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
} */



.list-group-item:hover {
    background-color: #eee;
}

.details{    /* margin-top: 50px; */
    z-index: 1;
    position: absolute;
    top: 600px;

    left: 600px;
}
ul{
    z-index: 2;
    position: absolute;
    top: 165px;
    height: 100px;
    left: 265px;
    cursor: pointer;

}
.list-group-item  {
    z-index: 2;
    position: absolute;
    top: 165px;
    height: 100px;
    left: 265px;
    cursor: pointer;

}
.ytp-cued-thumbnail-overlay-image{
    z-index: 2;
    position: absolute;
    top:300px;
}

.date-20180611 en_US ltr  exp-invert-logo exp-responsive exp-search-big-thumbs   site-center-aligned site-as-giant-card  webkit webkit-537{
    z-index: 2;
    position: absolute;
    top:300px;
}
#player {
    z-index: 0;
    position: absolute;
    top:300px;
}

.html5-video-container{
    z-index: 0;
    position: absolute;
    top:300px;
}

.embed-responsive embed-responsive-16by9{
    z-index: 0;
    position: absolute;
    top:300px;
}

.video-detail col-md-8 {
    z-index: 0;
    position: absolute;
    top:300px;
}

.videoBox   {
    z-index: 0;
    position: absolute;
    top:300px;
}